.advantages {
  margin-left: 138px;
  // margin-top: 105px;
  padding-left: 100px;
  padding-right: 15%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  &--bg {
    background-image: url("../../img/advantages/advantages-bg.jpg");
    background-position: top right;
    background-size: 56% 100vh;
    background-repeat: no-repeat;
  }
  &__title {
    max-width: 500px;
    @media (max-width: $desktop-width) {
      font-size: 50px;
    }
  }


  &__item {
    // width: 365px;
    width: 25%;
    // max-width: 357px;
    // height: 378px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid #d4d1d1;
    &--first {
      width: 50%;
      padding: 0;
      border: none;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
    &--full {
      width: 100%;
      padding: 0;
      display: flex;
      align-items: flex-end;
      border: none;
    }
    &--red {
      align-items: center;
      background-color: $color-title;
      padding: 0;
    }
  }
  &__icon {
    // margin-bottom: 60px;
  }
  &__name {
    margin: 0;
    // margin-bottom: 30px;
    margin-bottom: 20px;
    font-family: $font-playfairDisplay;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    letter-spacing: 0.02em;

    color: $color-grey-dark;
    @media (min-width: $desktop-width-xl) {
      font-size: 21px;
    }
  }
  &__text {
    margin: 0;
  }
  &__number {
    font-family: $font-spectral;
    font-style: normal;
    font-weight: 700;
    line-height: 210px;
    font-size: 248px;
    color: #f1eee9;

    padding-top: 30px;
    margin-bottom: 0;
  }
  &__year {
    margin: 0 auto 40px;
    line-height: 22px;
    font-size: 18px;
    color: #F1EEE9;
  }
}

.advantages__item.m-top {
  margin-top: 80px;
}