.advantages {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  min-height: 100vh;

  margin-top: 0;

  @media (min-width: $tablet-width) {
    height: auto;
    flex-direction: row;
    margin-left: 13vw;
    min-height: 80vh;
  }

  @media (min-width: 1140px) {
    padding-right: 15vw;
    margin-top: 20vh;
    min-height: 60vh;
  }

  @media (min-width: $desktop-width-xl) {
    padding-right: 15vw;
    margin-top: 15vh;
    min-height: 60vh;
  }

  @media (max-height: 900px) and (min-width: 1140px) {
    margin-top: 15vh;
  }

  @media (max-height: 800px) and (min-width: 1140px) {
    margin-top: 15vh;
  }

  &__title {
    width: auto;
    padding: 50px 15px;

    @media (min-width: $tablet-width) {
      max-width: 500px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }

  &__item {
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid #d4d1d1;

    &:nth-child(4) {
      order: 4;
    }

    &:nth-child(5) {
      order: 5;
    }

    &:nth-child(6) {
      order: 3;
    }

    @media (min-width: 600px) {
      width: 50%;
    }

    @media (min-width: $tablet-width) {
      justify-content: center;
      padding-top: 70px;
    }

    @media (min-width: $desktop-width) {
      justify-content: flex-start;
      width: 17vw;
      padding-top: 60px;

      &:nth-child(4) {
        order: 0;
      }

      &:nth-child(5) {
        order: 0;
      }

      &:nth-child(6) {
        order: 0;
      }
    }

    @media (min-width: 1141px) {
      width: 17vw;
    }

    @media (min-width: $desktop-width-x) {}

    &--first {
      width: 100vw;
      padding: 0;
      border: none;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      @media (min-height: 900px) and (min-width: 1140px) {
        width: 34vw;
      }

      @media (min-width: $desktop-width-x) {}
    }

    &--full {
      width: 100vw;
      padding: 0;
      display: flex;
      align-items: flex-end;
      border: none;
    }

    &--red {
      align-items: center;
      background-color: $color-title;
      padding: 0;
      width: 100vw;
      border: none;

      @media (min-width: 1140px) {
        width: 17vw;
      }

      @media (min-width: $desktop-width-x) {}
    }
  }

  &__name {
    margin: 0;
    margin-bottom: 20px;
    padding-top: 0;
    font-family: $font-playfairDisplay;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    letter-spacing: 0.02em;

    color: $color-grey-dark;

    @include ff("font-size",
    (480px: 16px,
      1920px: 21px));

    @media (min-width: $tablet-width) {
      padding-top: 100px;
    }

    @media (max-height: 800px) and (min-width: 1140px) {
      padding-top: 50px;
      font-size: 13px;
    }

    &--icon-1 {}

    &--icon-1,
    &--icon-2,
    &--icon-3,
    &--icon-4 {
      position: relative;
    }

    &--icon-1::before,
    &--icon-2::before,
    &--icon-3::before,
    &--icon-4::before {
      content: "";
      position: absolute;
      bottom: 40px;
      left: 0;
      width: 100px;
      height: 80px;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--icon-1::before {
      background-image: url("../../img/icons/icon-group06.svg");
    }

    &--icon-2::before {
      background-image: url("../../img/icons/icon-gr-6.svg");
    }

    &--icon-3::before {
      background-image: url("../../img/icons/icon-gr-5.svg");
    }

    &--icon-4::before {
      bottom: 60px;
      background-image: url("../../img/icons/icon-group07.svg");
    }
  }

  &__text {
    margin: 0;
  }

  &__number {
    position: relative;
    font-family: $font-spectral;
    font-style: normal;
    font-weight: 700;
    line-height: 210px;
    font-size: 248px;
    color: #f1eee9;

    padding-top: 30px;
    margin-bottom: 0;

    @media (max-width: 1580px) {
      line-height: 170px;
    }

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      right: -40px;
      transform: translateY(-50%);
      @include sprite($icon-plus);
    }
  }

  &__year {
    margin: 0 auto 40px;
    line-height: 22px;
    font-size: 18px;
    color: #f1eee9;
  }
}

@media (max-width: $mobile-width-only) {
  .advantages__item {
    // padding-top: 30px;
    // padding-right: 30px;
    // padding-bottom: 30px;

    // &--first {
    //   padding: 40px 24px;
    // }
  }

  .advantages__name--icon-1::before,
  .advantages__name--icon-2::before,
  .advantages__name--icon-3::before,
  .advantages__name--icon-4::before {
    left: 0;
    width: 70px;
    height: 70px;
    bottom: -50px;
  }

  .advantages__text {
    font-size: 14px;
    padding-left: 120px;
  }

  .advantages__name {
    padding-left: 120px;
    padding-top: 0;
  }

  .advantages__number {
    padding-top: 64px;
  }

  .advantages__year {
    margin-top: 30px;
  }
}

@media (max-height: 800px) and (min-width: 1140px) {
  .advantages__name {
    padding-top: 30px;
    margin-bottom: 10px;

    &--icon-1::before,
    &--icon-2::before,
    &--icon-3::before,
    &--icon-4::before {
      width: 60px;
      height: 60px;
      bottom: 20px;
    }
  }

  .advantages__number {
    line-height: 120px;
    font-size: 170px;
  }

  .advantages__number::before {
    right: 10px;
  }

  .advantages__text {
    font-size: 11px;
    line-height: 16px;
  }
}

.advantages__item {
  &--red {
    justify-content: center;
  }
}

@media (max-height: 900px) and (min-width: 1140px) {
  .section--bg-advantages {
    background-size: 51.5vw 100%;
  }

  .advantages {
    // margin-top: 15vh;
    margin-top: 10%;
    min-height: calc(80vh - 10%);
  }

  .advantages__item {
    padding-top: 0;
    width: 17vw;
  }

  .advantages__item--first {
    width: 34vw;
  }

  .advantages__number {
    font-size: 220px;

    &::before {
      right: -5px;
    }
  }

  .box__item:last-child {
    width: 31.5%;
  }
}

@media (min-height: 900px) and (min-width: 1140px) {
  .advantages__item--first {
    width: 34vw;
  }
}
