.button {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  border: none;
}

.button-more {

}

.button.button-scroll {
  line-height: normal;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 100px;
  background: #B22A2E;
  position: absolute;
  right: 0;
  top: 0;
}