.logo {
  height: auto;
  margin: 0 auto;

  & img {
    width: 70%;
  }
}

.logo__link {
  display: block;
}

.logo__pic {
  height: auto;
}

@media (min-width: $tablet-width) {
  .logo {
    margin: 0;
  }
}

@media (min-width: $desktop-width-xxl) {
  .logo {
    & img {
      width: auto;
    }
  }
}
