.nav-scrollbar {
  position: fixed;
  z-index: 5;
  top: 105px;
  right: 0;
  width: 108px;
  height: calc(80% - 105px);

  display: flex;
  justify-content: center;
  align-items: center;
  // &--white {
  //   background-color: #ffffff;
  // }
  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    display: flex;
    flex-direction: column;
  }
  &__item {
    padding: 10px 20px;
    &--active {
      & .nav-scrollbar__link {
        background-color: #B22A2E;
      }
    }
  }
  &__link {
    font-size: 0;
    display: block;
    width: 3px;
    height: 3px;
    background-color: #C4C4C4;
  }
}

@media (max-width: $mobile-width-only) {
  .nav-scrollbar {
   display: none;
  }
}