.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100px;
  height: 100vh;
  background-color: #B22A2E;
  animation-name: navBarleft;
  animation-duration: 0.5s;

  & .button {
    position: relative;
    top: 0;
    left: 0;
  }

  &__icon {
    padding: 40px;
  }
}

.nav-bar__button {
  position: relative;
  width: 100px;
  height: 100px;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 16px;
    height: 30px;
    background-image: url("../../img/icons/icon-open.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (max-width: $mobile-width-only) {
  .nav-bar {
    width: 64px;
    height: 64px;
    left: auto;
    right: 0;
  }

  .nav-bar__button {
    width: 64px;
    height: 64px;
  }
}
