.navigation {
  position: relative;
  margin: 0 auto;
}

.navigation__wrapper {
  display: flex;
  flex-direction: column;
}

.navigation--closed .navigation__toggle {
  position: absolute;
  top: 24px;
  right: 0;
  z-index: 2;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  background-image: url("../img/icons/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.navigation--opened .navigation__toggle {
  position: absolute;
  top: 24px;
  right: 0;
  z-index: 5;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  background-image: url("../img/icons/icon-menu-close.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.navigation__item {
  position: relative;
  display: block;
  margin: 0 20px;
}

.navigation__link {
  display: block;
  padding: 20px 10px;
  line-height: normal;
  font-size: 18px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #333333;
  opacity: 0.9;
  text-decoration: none;

  &:hover {
    color: #B22A2E;
  }

  &:focus {
    color: #B22A2E;
  }
}

@media (max-width: $mobile-width-only) {
  .navigation--closed .navigation__list {
    height: 80px;
    visibility: hidden;
  }

  .navigation--closed .js-logo {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    visibility: visible;
  }

  .navigation--closed .navigation__wrapper {
    position: relative;
    min-height: 80px;
  }


  .navigation--nojs .navigation__wrapper {
    position: static;
  }

  .navigation.navigation--opened .navigation__wrapper {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(105, 91, 91, 0.39);
    overflow: hidden;
  }

  .navigation.navigation--opened .navigation__list {
    display: none;
    height: auto;
    width: 230px;

    background-color: #ffffff;
  }

  .navigation--nojs .js-logo {
    position: relative;
  }
}

@media (min-width: $tablet-width) {
  .navigation__wrapper {
    margin: 0 auto;
    box-sizing: border-box;
  }

  .navigation__list {
    position: relative;
    z-index: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .navigation__toggle {
    display: none;
  }

  .navigation__link {
    padding: 15px 0;
  }

  .navigation__item {
    width: auto;
    height: auto;
    border-bottom-color: transparent;
  }
  .navigation--nojs .navigation__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .navigation__wrapper {
    margin: 0 auto;
    box-sizing: border-box;
  }

  .navigation__list {
    flex-direction: row;
  }

  .navigation__item {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.navigation__item-more {
  display: block;

  @media (min-width: 1338px) {
    display: none;
  }
}