.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 138px;
  background-color: #ffffff;
  border-bottom: 1px solid #d4d1d1;
  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__button {
    position: relative;
    width: 108px;
    height: 100%;
    margin-left: 60px;
    background-color: #B3282D;
  }
}

.page-header__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: $mobile-width-only) {
  .page-header {
    height: 64px;
    padding-left: 24px;
  }
  .page-header__button {
    display: none;
  }
}
