.phone {
  &__link {
    text-decoration: none;
    line-height: normal;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.06em;
    color: #333333;
    opacity: 0.9;
  }
  @media (max-width: $tablet-width) {
    display: none;
  }
}