.promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #E9E9E9;
}

.promo__item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &--info {
    width: 64.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../img/promo/promo-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-width: 1600px) {
      width: 65%;
    }
  }

  &--video {
    position: relative;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: 98px;
      height: 100%;
      background: #fff;
      z-index: 1;

      @media (max-width: 1140px) {
        background: transparent;
      }
    }

    & video {
      position: absolute;
      top: 59%;
      left: 40%;
      transform: translate(-50%, -50%);

      max-width: 100%;
      margin: 0 auto;

      @media (max-width: 1140px) {
        left: 50%;
      }
    }
    & video[poster] {
      padding: 20%;
    }
  }
}

.promo__text {
  @media (min-width: $tablet-width) {
    max-width: 1226px;
    padding-left: 190px;
    padding-top: 150px;
    padding-bottom: 100px;
  }
}

.promo__title {
  animation-name: itemBlock;
  animation-duration: 1s;
}

.promo__caption {
  margin-top: 40px;
  max-width: 400px;
  line-height: 25px;
  font-size: 22px;
  letter-spacing: 0.03em;
  color: #FFFFFF;

  animation-name: itemBlock;
  animation-duration: 1s;
  animation-delay: 0.1s;
}

.promo__link {
  position: relative;

  margin-top: 50px;
  padding-right: 20px;

  line-height: normal;
  font-size: 10px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #FFFFFF;

  text-decoration: none;

  animation-name: itemBlock;
  animation-duration: 1s;
  animation-delay: 1.5s;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    @include sprite ($icon-arrow-double-white);
  }
}

@media (max-width: 960px) {
  .promo__item {
    &--info {
      width: 100%;
    }

    &--video {
      width: 100%;
      display: none;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .promo__item {
    &--info {
      width: 100%;
    }

    &--video {
      width: 100%;
      display: none;
    }
  }

  .promo__caption {
    margin-top: 24px;
    line-height: 18px;
    font-size: 15px;
    letter-spacing: 0.01em;
  }

  .promo__link {
    font-size: 10px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
  }

  .promo__text {
    padding-top: 274px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 100px;
    @media (min-width: $desktop-width) {
      margin-left: 30px;
    }
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

@media (max-width: 375px) {
  #promo {
    // min-height: 100vh;
  }
  .promo {
    height: 65vh;
  }
  .promo__text {
    padding: 40px 20px;
  }
  .slider-tasx {
    height: 35vh;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
}