.promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // min-height: 80%;
  background-color: #E9E9E9;
  // &--bg {
  //   background-image: url("../../img/promo/promo.jpg");
  //   background-position: top left;
  //   background-size: 64% 100vh;
  //   background-repeat: no-repeat;
  // }
  // & img {
  //   padding: 0 100px;
  // }
}

.promo__item {
  display: flex;
  justify-content: center;
  align-items: center;
  &--info {
    width: 64%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../img/promo/promo-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &--video {
    width: 36%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.promo__text {
  max-width: 1226px;
  padding-left: 150px;
}

.promo__caption {
  margin-top: 40px;
  max-width: 400px;
  line-height: 25px;
  font-size: 22px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.promo__link {
  position: relative;

  margin-top: 50px;
  padding-right: 20px;

  line-height: normal;
  font-size: 10px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #FFFFFF;

  text-decoration: none;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    @include sprite ($icon-arrow-double-white);
  }
}
