.section {
  position: relative;
  height: 100%;
  overflow-y: hidden;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    height: 100%;
  }

  @media (min-width: $desktop-width-xl) {
    height: 100vh;
  }

  &--bg-feedback {
    background-image: url("../../img/feedback/feedback-mob.jpg");
    background-size: 100%;

    @media (min-width: 480px) {
      background-image: url("../../img/feedback/feedback-bg.jpg");
      background-size: 100%;
    }

    @media (min-width: $desktop-width) {
      background-size: cover;
    }
  }

  &--bg-advantages {

    background-image: url("../../img/advantages/advantages-bg.jpg");
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      background-size: 51.75vw 100%;
    }

    @media (min-width: $desktop-width-xl) {
      background-size: 51vw 100vh;
    }
  }

  &__promo {
    height: 80%;
  }

  &__slider {
    height: 20%;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  &__advantages {
    // height: 85%;
    height: 80vh;

    @media (min-width: $tablet-width) {
      height: 60vh;
    }
  }

  &__box {
    // height: 15%;
    min-height: 25vh;
  }
}

.box {
  margin-left: 13vw;

  padding-left: 100px;
  padding-right: 5%;
  display: none;

  @media (min-width: 1140px) {
    display: flex;
    padding-right: 0;
  }

  @media (min-width: 1550px) {
    padding-right: 5%;
  }

  @media (max-width: 1500px) {
    padding-left: 0;
  }

  &__inner {
    display: flex;
    width: 100vw;
    justify-content: flex-end;
    margin-right: 8vw;
    // border-top: 1px solid #d4d1d1;
  }

  &__item {
    &:hover:before {
      left: 0;
    }
    &:first-child {
      width: 64.5%;
      background-color: #ffffff;
    }
    &:last-child {
      width: 34.5%;

      @media (max-height: 800px) {
        width: 34.5%;
      }

      @media (min-width: 1500px) {
        width: 39.5%;
      }
      @media (min-width: 1550px) {
        width: 33%;
      }
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    line-height: normal;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 20px;
    background: #B22A2E;
    text-decoration: none;
  }
}

@media (max-width: $mobile-width-only) {
  .section {
    // transform: none !important;
    overflow: hidden;
  }

  .section__advantages {
    height: 100%;
  }

  .box {
    display: none;
  }
}

// @media (max-width: $desktop-width) {
//   .section {
//     position: relative !important;
//     height: 100%;
//   }

//   .onepage-pagination {
//     display: none;
//   }

//   .section-scroll.onepage-wrapper {
//     transform: translate3d(0, 0, 0) !important;
//     transition: none !important;
//     // overflow-y: scroll;
//   }
// }


