.slider-task {
  position: relative;
  height: 100%;
  margin-left: 100px;
  overflow: hidden;
  &__wrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  &__item {
    width: 31.3%;
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 1px solid #d4d1d1;
  }
  &__box {
    padding-left: 150px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      bottom: 10px;
      right: 30px;
      display: block;
      width: 20px;
      height: 20px;
      @include sprite ($icon-arrow-double);
    }

    &--icon-1,
    &--icon-2,
    &--icon-3 {
      position: relative;
    }
    &--icon-1::before,
    &--icon-2::before,
    &--icon-3::before {
      position: absolute;
      content: "";
      top: 0;
      left: 20px;
      display: block;
      width: 100px;
      height: 100px;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--icon-1::before {
      background-image: url("../../img/icons/icon-task-1.svg");
    }
    &--icon-2::before {
      background-image: url("../../img/icons/icon-task-2.svg");
    }
    &--icon-3::before {
      background-image: url("../../img/icons/icon-task-3.svg");
    }
  }
  &__mark {
    line-height: 18px;
    font-size: 12px;
    letter-spacing: 0.12em;
    color: #B3282D;
  }
  &__name {
    max-width: 300px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 21px;
    letter-spacing: 0.02em;
    color: #444444;
  }
  &__buttons {
    position: absolute;
    top: 55px;
    right: 0;
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.slider-task__button-prev {
  position: relative;
  top: 0;
  outline: none;
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    display: block;
    transform: translateY(-50%);
    @include sprite ($icon-arrow-red);
  }
}
.slider-task__button-next {
  position: relative;
  bottom: -58px;
  outline: none;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    display: block;
    @include sprite ($icon-arrow-grey);
  }
}

.slider-task__pagination {
  line-height: normal;
  font-size: 12px;
  letter-spacing: 0.12em;

  position: absolute;
    top: 50px;
    left: 40px;
}