// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$chekbock-name: 'chekbock';
$chekbock-x: 137px;
$chekbock-y: 116px;
$chekbock-offset-x: -137px;
$chekbock-offset-y: -116px;
$chekbock-width: 22px;
$chekbock-height: 22px;
$chekbock-total-width: 547px;
$chekbock-total-height: 526px;
$chekbock-image: '../img/sprite-png.png';
$chekbock: (137px, 116px, -137px, -116px, 22px, 22px, 547px, 526px, '../img/sprite-png.png', 'chekbock', );
$icon-ar-name: 'icon-ar';
$icon-ar-x: 15px;
$icon-ar-y: 18px;
$icon-ar-offset-x: -15px;
$icon-ar-offset-y: -18px;
$icon-ar-width: 9px;
$icon-ar-height: 6px;
$icon-ar-total-width: 547px;
$icon-ar-total-height: 526px;
$icon-ar-image: '../img/sprite-png.png';
$icon-ar: (15px, 18px, -15px, -18px, 9px, 6px, 547px, 526px, '../img/sprite-png.png', 'icon-ar', );
$icon-cat-1-name: 'icon-cat-1';
$icon-cat-1-x: 425px;
$icon-cat-1-y: 404px;
$icon-cat-1-offset-x: -425px;
$icon-cat-1-offset-y: -404px;
$icon-cat-1-width: 34px;
$icon-cat-1-height: 34px;
$icon-cat-1-total-width: 547px;
$icon-cat-1-total-height: 526px;
$icon-cat-1-image: '../img/sprite-png.png';
$icon-cat-1: (425px, 404px, -425px, -404px, 34px, 34px, 547px, 526px, '../img/sprite-png.png', 'icon-cat-1', );
$icon-cat-2-name: 'icon-cat-2';
$icon-cat-2-x: 469px;
$icon-cat-2-y: 448px;
$icon-cat-2-offset-x: -469px;
$icon-cat-2-offset-y: -448px;
$icon-cat-2-width: 34px;
$icon-cat-2-height: 34px;
$icon-cat-2-total-width: 547px;
$icon-cat-2-total-height: 526px;
$icon-cat-2-image: '../img/sprite-png.png';
$icon-cat-2: (469px, 448px, -469px, -448px, 34px, 34px, 547px, 526px, '../img/sprite-png.png', 'icon-cat-2', );
$icon-cat-3-name: 'icon-cat-3';
$icon-cat-3-x: 337px;
$icon-cat-3-y: 316px;
$icon-cat-3-offset-x: -337px;
$icon-cat-3-offset-y: -316px;
$icon-cat-3-width: 34px;
$icon-cat-3-height: 34px;
$icon-cat-3-total-width: 547px;
$icon-cat-3-total-height: 526px;
$icon-cat-3-image: '../img/sprite-png.png';
$icon-cat-3: (337px, 316px, -337px, -316px, 34px, 34px, 547px, 526px, '../img/sprite-png.png', 'icon-cat-3', );
$icon-cat-4-name: 'icon-cat-4';
$icon-cat-4-x: 381px;
$icon-cat-4-y: 360px;
$icon-cat-4-offset-x: -381px;
$icon-cat-4-offset-y: -360px;
$icon-cat-4-width: 34px;
$icon-cat-4-height: 34px;
$icon-cat-4-total-width: 547px;
$icon-cat-4-total-height: 526px;
$icon-cat-4-image: '../img/sprite-png.png';
$icon-cat-4: (381px, 360px, -381px, -360px, 34px, 34px, 547px, 526px, '../img/sprite-png.png', 'icon-cat-4', );
$icon-cat-5-name: 'icon-cat-5';
$icon-cat-5-x: 249px;
$icon-cat-5-y: 228px;
$icon-cat-5-offset-x: -249px;
$icon-cat-5-offset-y: -228px;
$icon-cat-5-width: 34px;
$icon-cat-5-height: 34px;
$icon-cat-5-total-width: 547px;
$icon-cat-5-total-height: 526px;
$icon-cat-5-image: '../img/sprite-png.png';
$icon-cat-5: (249px, 228px, -249px, -228px, 34px, 34px, 547px, 526px, '../img/sprite-png.png', 'icon-cat-5', );
$icon-cat-6-name: 'icon-cat-6';
$icon-cat-6-x: 205px;
$icon-cat-6-y: 184px;
$icon-cat-6-offset-x: -205px;
$icon-cat-6-offset-y: -184px;
$icon-cat-6-width: 34px;
$icon-cat-6-height: 34px;
$icon-cat-6-total-width: 547px;
$icon-cat-6-total-height: 526px;
$icon-cat-6-image: '../img/sprite-png.png';
$icon-cat-6: (205px, 184px, -205px, -184px, 34px, 34px, 547px, 526px, '../img/sprite-png.png', 'icon-cat-6', );
$icon-cat-7-name: 'icon-cat-7';
$icon-cat-7-x: 513px;
$icon-cat-7-y: 492px;
$icon-cat-7-offset-x: -513px;
$icon-cat-7-offset-y: -492px;
$icon-cat-7-width: 34px;
$icon-cat-7-height: 34px;
$icon-cat-7-total-width: 547px;
$icon-cat-7-total-height: 526px;
$icon-cat-7-image: '../img/sprite-png.png';
$icon-cat-7: (513px, 492px, -513px, -492px, 34px, 34px, 547px, 526px, '../img/sprite-png.png', 'icon-cat-7', );
$icon-cat-8-name: 'icon-cat-8';
$icon-cat-8-x: 293px;
$icon-cat-8-y: 272px;
$icon-cat-8-offset-x: -293px;
$icon-cat-8-offset-y: -272px;
$icon-cat-8-width: 34px;
$icon-cat-8-height: 34px;
$icon-cat-8-total-width: 547px;
$icon-cat-8-total-height: 526px;
$icon-cat-8-image: '../img/sprite-png.png';
$icon-cat-8: (293px, 272px, -293px, -272px, 34px, 34px, 547px, 526px, '../img/sprite-png.png', 'icon-cat-8', );
$icon-close-mob-name: 'icon-close-mob';
$icon-close-mob-x: 34px;
$icon-close-mob-y: 34px;
$icon-close-mob-offset-x: -34px;
$icon-close-mob-offset-y: -34px;
$icon-close-mob-width: 14px;
$icon-close-mob-height: 2px;
$icon-close-mob-total-width: 547px;
$icon-close-mob-total-height: 526px;
$icon-close-mob-image: '../img/sprite-png.png';
$icon-close-mob: (34px, 34px, -34px, -34px, 14px, 2px, 547px, 526px, '../img/sprite-png.png', 'icon-close-mob', );
$icon-link-ar-name: 'icon-link-ar';
$icon-link-ar-x: 0px;
$icon-link-ar-y: 0px;
$icon-link-ar-offset-x: 0px;
$icon-link-ar-offset-y: 0px;
$icon-link-ar-width: 5px;
$icon-link-ar-height: 8px;
$icon-link-ar-total-width: 547px;
$icon-link-ar-total-height: 526px;
$icon-link-ar-image: '../img/sprite-png.png';
$icon-link-ar: (0px, 0px, 0px, 0px, 5px, 8px, 547px, 526px, '../img/sprite-png.png', 'icon-link-ar', );
$icon-open-mob-name: 'icon-open-mob';
$icon-open-mob-x: 80px;
$icon-open-mob-y: 69px;
$icon-open-mob-offset-x: -80px;
$icon-open-mob-offset-y: -69px;
$icon-open-mob-width: 15px;
$icon-open-mob-height: 16px;
$icon-open-mob-total-width: 547px;
$icon-open-mob-total-height: 526px;
$icon-open-mob-image: '../img/sprite-png.png';
$icon-open-mob: (80px, 69px, -80px, -69px, 15px, 16px, 547px, 526px, '../img/sprite-png.png', 'icon-open-mob', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 58px;
$icon-phone-y: 46px;
$icon-phone-offset-x: -58px;
$icon-phone-offset-y: -46px;
$icon-phone-width: 12px;
$icon-phone-height: 13px;
$icon-phone-total-width: 547px;
$icon-phone-total-height: 526px;
$icon-phone-image: '../img/sprite-png.png';
$icon-phone: (58px, 46px, -58px, -46px, 12px, 13px, 547px, 526px, '../img/sprite-png.png', 'icon-phone', );
$icon-search-name: 'icon-search';
$icon-search-x: 169px;
$icon-search-y: 148px;
$icon-search-offset-x: -169px;
$icon-search-offset-y: -148px;
$icon-search-width: 26px;
$icon-search-height: 26px;
$icon-search-total-width: 547px;
$icon-search-total-height: 526px;
$icon-search-image: '../img/sprite-png.png';
$icon-search: (169px, 148px, -169px, -148px, 26px, 26px, 547px, 526px, '../img/sprite-png.png', 'icon-search', );
$icon-tr-name: 'icon-tr';
$icon-tr-x: 105px;
$icon-tr-y: 95px;
$icon-tr-offset-x: -105px;
$icon-tr-offset-y: -95px;
$icon-tr-width: 22px;
$icon-tr-height: 11px;
$icon-tr-total-width: 547px;
$icon-tr-total-height: 526px;
$icon-tr-image: '../img/sprite-png.png';
$icon-tr: (105px, 95px, -105px, -95px, 22px, 11px, 547px, 526px, '../img/sprite-png.png', 'icon-tr', );
$spritesheet-width: 547px;
$spritesheet-height: 526px;
$spritesheet-image: '../img/sprite-png.png';
$spritesheet-sprites: ($chekbock, $icon-ar, $icon-cat-1, $icon-cat-2, $icon-cat-3, $icon-cat-4, $icon-cat-5, $icon-cat-6, $icon-cat-7, $icon-cat-8, $icon-close-mob, $icon-link-ar, $icon-open-mob, $icon-phone, $icon-search, $icon-tr, );
$spritesheet: (547px, 526px, '../img/sprite-png.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
