// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-adv-1-name: 'icon-adv-1';
$icon-adv-1-x: 275px;
$icon-adv-1-y: 261px;
$icon-adv-1-offset-x: -275px;
$icon-adv-1-offset-y: -261px;
$icon-adv-1-width: 80px;
$icon-adv-1-height: 97px;
$icon-adv-1-total-width: 1153px;
$icon-adv-1-total-height: 1143px;
$icon-adv-1-image: '../img/sprite-png.png';
$icon-adv-1: (275px, 261px, -275px, -261px, 80px, 97px, 1153px, 1143px, '../img/sprite-png.png', 'icon-adv-1', );
$icon-adv-2-name: 'icon-adv-2';
$icon-adv-2-x: 178px;
$icon-adv-2-y: 175px;
$icon-adv-2-offset-x: -178px;
$icon-adv-2-offset-y: -175px;
$icon-adv-2-width: 87px;
$icon-adv-2-height: 76px;
$icon-adv-2-total-width: 1153px;
$icon-adv-2-total-height: 1143px;
$icon-adv-2-image: '../img/sprite-png.png';
$icon-adv-2: (178px, 175px, -178px, -175px, 87px, 76px, 1153px, 1143px, '../img/sprite-png.png', 'icon-adv-2', );
$icon-adv-3-name: 'icon-adv-3';
$icon-adv-3-x: 365px;
$icon-adv-3-y: 368px;
$icon-adv-3-offset-x: -365px;
$icon-adv-3-offset-y: -368px;
$icon-adv-3-width: 101px;
$icon-adv-3-height: 92px;
$icon-adv-3-total-width: 1153px;
$icon-adv-3-total-height: 1143px;
$icon-adv-3-image: '../img/sprite-png.png';
$icon-adv-3: (365px, 368px, -365px, -368px, 101px, 92px, 1153px, 1143px, '../img/sprite-png.png', 'icon-adv-3', );
$icon-adv-4-name: 'icon-adv-4';
$icon-adv-4-x: 809px;
$icon-adv-4-y: 800px;
$icon-adv-4-offset-x: -809px;
$icon-adv-4-offset-y: -800px;
$icon-adv-4-width: 106px;
$icon-adv-4-height: 106px;
$icon-adv-4-total-width: 1153px;
$icon-adv-4-total-height: 1143px;
$icon-adv-4-image: '../img/sprite-png.png';
$icon-adv-4: (809px, 800px, -809px, -800px, 106px, 106px, 1153px, 1143px, '../img/sprite-png.png', 'icon-adv-4', );
$icon-arrow-double-white-name: 'icon-arrow-double-white';
$icon-arrow-double-white-x: 0px;
$icon-arrow-double-white-y: 0px;
$icon-arrow-double-white-offset-x: 0px;
$icon-arrow-double-white-offset-y: 0px;
$icon-arrow-double-white-width: 16px;
$icon-arrow-double-white-height: 14px;
$icon-arrow-double-white-total-width: 1153px;
$icon-arrow-double-white-total-height: 1143px;
$icon-arrow-double-white-image: '../img/sprite-png.png';
$icon-arrow-double-white: (0px, 0px, 0px, 0px, 16px, 14px, 1153px, 1143px, '../img/sprite-png.png', 'icon-arrow-double-white', );
$icon-arrow-double-name: 'icon-arrow-double';
$icon-arrow-double-x: 26px;
$icon-arrow-double-y: 24px;
$icon-arrow-double-offset-x: -26px;
$icon-arrow-double-offset-y: -24px;
$icon-arrow-double-width: 23px;
$icon-arrow-double-height: 22px;
$icon-arrow-double-total-width: 1153px;
$icon-arrow-double-total-height: 1143px;
$icon-arrow-double-image: '../img/sprite-png.png';
$icon-arrow-double: (26px, 24px, -26px, -24px, 23px, 22px, 1153px, 1143px, '../img/sprite-png.png', 'icon-arrow-double', );
$icon-arrow-grey-name: 'icon-arrow-grey';
$icon-arrow-grey-x: 925px;
$icon-arrow-grey-y: 916px;
$icon-arrow-grey-offset-x: -925px;
$icon-arrow-grey-offset-y: -916px;
$icon-arrow-grey-width: 109px;
$icon-arrow-grey-height: 108px;
$icon-arrow-grey-total-width: 1153px;
$icon-arrow-grey-total-height: 1143px;
$icon-arrow-grey-image: '../img/sprite-png.png';
$icon-arrow-grey: (925px, 916px, -925px, -916px, 109px, 108px, 1153px, 1143px, '../img/sprite-png.png', 'icon-arrow-grey', );
$icon-arrow-red-name: 'icon-arrow-red';
$icon-arrow-red-x: 1044px;
$icon-arrow-red-y: 1034px;
$icon-arrow-red-offset-x: -1044px;
$icon-arrow-red-offset-y: -1034px;
$icon-arrow-red-width: 109px;
$icon-arrow-red-height: 109px;
$icon-arrow-red-total-width: 1153px;
$icon-arrow-red-total-height: 1143px;
$icon-arrow-red-image: '../img/sprite-png.png';
$icon-arrow-red: (1044px, 1034px, -1044px, -1034px, 109px, 109px, 1153px, 1143px, '../img/sprite-png.png', 'icon-arrow-red', );
$icon-mob-name: 'icon-mob';
$icon-mob-x: 112px;
$icon-mob-y: 109px;
$icon-mob-offset-x: -112px;
$icon-mob-offset-y: -109px;
$icon-mob-width: 56px;
$icon-mob-height: 56px;
$icon-mob-total-width: 1153px;
$icon-mob-total-height: 1143px;
$icon-mob-image: '../img/sprite-png.png';
$icon-mob: (112px, 109px, -112px, -109px, 56px, 56px, 1153px, 1143px, '../img/sprite-png.png', 'icon-mob', );
$icon-plus-name: 'icon-plus';
$icon-plus-x: 59px;
$icon-plus-y: 56px;
$icon-plus-offset-x: -59px;
$icon-plus-offset-y: -56px;
$icon-plus-width: 43px;
$icon-plus-height: 43px;
$icon-plus-total-width: 1153px;
$icon-plus-total-height: 1143px;
$icon-plus-image: '../img/sprite-png.png';
$icon-plus: (59px, 56px, -59px, -56px, 43px, 43px, 1153px, 1143px, '../img/sprite-png.png', 'icon-plus', );
$icon-task-1-name: 'icon-task-1';
$icon-task-1-x: 587px;
$icon-task-1-y: 580px;
$icon-task-1-offset-x: -587px;
$icon-task-1-offset-y: -580px;
$icon-task-1-width: 101px;
$icon-task-1-height: 100px;
$icon-task-1-total-width: 1153px;
$icon-task-1-total-height: 1143px;
$icon-task-1-image: '../img/sprite-png.png';
$icon-task-1: (587px, 580px, -587px, -580px, 101px, 100px, 1153px, 1143px, '../img/sprite-png.png', 'icon-task-1', );
$icon-task-2-name: 'icon-task-2';
$icon-task-2-x: 698px;
$icon-task-2-y: 690px;
$icon-task-2-offset-x: -698px;
$icon-task-2-offset-y: -690px;
$icon-task-2-width: 101px;
$icon-task-2-height: 100px;
$icon-task-2-total-width: 1153px;
$icon-task-2-total-height: 1143px;
$icon-task-2-image: '../img/sprite-png.png';
$icon-task-2: (698px, 690px, -698px, -690px, 101px, 100px, 1153px, 1143px, '../img/sprite-png.png', 'icon-task-2', );
$icon-task-3-name: 'icon-task-3';
$icon-task-3-x: 476px;
$icon-task-3-y: 470px;
$icon-task-3-offset-x: -476px;
$icon-task-3-offset-y: -470px;
$icon-task-3-width: 101px;
$icon-task-3-height: 100px;
$icon-task-3-total-width: 1153px;
$icon-task-3-total-height: 1143px;
$icon-task-3-image: '../img/sprite-png.png';
$icon-task-3: (476px, 470px, -476px, -470px, 101px, 100px, 1153px, 1143px, '../img/sprite-png.png', 'icon-task-3', );
$spritesheet-width: 1153px;
$spritesheet-height: 1143px;
$spritesheet-image: '../img/sprite-png.png';
$spritesheet-sprites: ($icon-adv-1, $icon-adv-2, $icon-adv-3, $icon-adv-4, $icon-arrow-double-white, $icon-arrow-double, $icon-arrow-grey, $icon-arrow-red, $icon-mob, $icon-plus, $icon-task-1, $icon-task-2, $icon-task-3, );
$spritesheet: (1153px, 1143px, '../img/sprite-png.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
